:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --text-color-hover: #4d5ae5;
  --accent-color: #404bbf;
  --btn-border-color: #e7e9fc;
  --background-color: #ffffff;
  --background-btn-filters: #f4f4fd;
  --color-modal-window: #8e8f99;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--primary-font);
  color: #434455;
  background-color: var(--background-color);
}

/* =============Components============ */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (max-width: 428px) {
  .section {
    max-width: 428px;
  }
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.container-tablet {
  width: 584px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 428px) {
  .container-tablet {
    width: 396px;
    padding: 0;
  }
}

@media screen and (min-width: 1158px) {
  .container-tablet {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* =============Components============ */

/* =============Header================ */

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container.adaptive {
  max-width: 320px;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.logo-color-header {
  color: var(--primary-text-color);
}

.mobile-menu-open-icon {
  fill: #2e2f42;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
}

/* =============Header================ */

/*==============Mobile menu============*/

.mobile-menu {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear;
  overflow: scroll;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
  position: relative;
  padding: 80px 20px 40px 40px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {
  fill: #ffffff;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-bottom-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-link {
  position: relative;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--accent-color);
}

.mobile-menu-contacts-list {
  margin-bottom: 48px;
}

.mobile-menu-contacts-item {
  text-decoration: none;
}

.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-phone-link {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color-hover);
}

.mobile-menu-e-mail-link {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.social-list-icon {
  fill: #f4f4fd;
}

.social-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.mobile-social-list {
  display: flex;
  justify-content: space-between;
}

/*==============Mobile menu============*/

.main-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contacts-header {
    display: none;
  }
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

@media screen and (min-width: 768px) {
  .contacts-header-list {
    text-align: right;
  }
}

@media screen and (min-width: 1158px) {
  .contacts-header-list {
    gap: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.logo-link-header {
  padding: 24px 0;
  margin-right: 76px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: block;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color-hover);
}

@media screen and (min-width: 768px) {
  .logo-link-header {
    margin-right: 120px;
  }
}

.logo-color-header {
  color: var(--primary-text-color);
}

.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .current::after {
    display: none;
  }
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contacts-header {
  font-style: normal;
}

.contacts-header:not(:last-child) {
  margin-right: 24px;
}

@media screen and (min-width: 768px) {
  .contacts-header-link {
    padding: 0;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
  }
  .contacts-header-item:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .contacts-header-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-header-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.contacts-header-link:hover,
.contacts-header-link:focus {
  color: var(--accent-color);
}

/*==============Hero===================*/

.main-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .main-title {
    margin-bottom: 36px;
  }
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/bg-hero.jpg');
  background-color: #2e2f42;
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1158px) {
  .main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .hero {
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/bg-hero.jpg');
    background-size: cover;
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/Dark-bgm.jpg');
  }
}

@media screen and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/Dark-bgt.jpg');
  }
}

@media screen and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/bg-hero.jpg');
  }
}

.hero-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--accent-color);
  color: #ffffff;
}

/*==============Hero===================*/

/*==============Features===============*/

@media screen and (max-width: 1158px) {
  .features {
    padding: 96px 0;
  }
  .features-icon-wrapper {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }
}

.project-text {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1158px) {
  .project-text {
    font-weight: 400;
  }
}

.features-item {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .features-item:nth-child(odd) {
    margin-right: 24px;
  }
  .features-item:nth-child(-n + 2) {
    margin-bottom: 72px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1158px) {
  .features-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
  }

  .features {
    padding: 120px 0;
  }

  .features-list {
    gap: 24px;
    display: flex;
    align-items: top;
    flex-wrap: nowrap;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-item:not(:last-child) {
    margin: 0;
  }
}

/*==============Features===============*/

/*==============Services================*/

@media screen and (max-width: 1158px) {
  .services {
    display: none;
  }
}

.services-list {
  gap: 24px;
  display: flex;
  align-items: center;
}

.services-item {
  width: calc((100% - 48px) / 3);
}

.services {
  padding-bottom: 120px;
}

/*==============Services================*/

/*==============Our team===============*/

.title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  margin-bottom: 72px;
}

.team-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.our-team-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team-item {
  width: 264px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.our-team-item:not(:last-child) {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .our-team-item:nth-child(odd) {
    margin-right: 24px;
  }
  .our-team-item {
    margin-left: 0;
  }

  .our-team-item:nth-child(even) {
    margin-right: 0;
  }

  .our-team-item:not(:last-child) {
    margin-bottom: 64px;
  }

  .our-team-item:nth-child(3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .our-team-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .our-team-item:nth-child(odd) {
    margin-right: 0;
  }
  .our-team-item {
    margin-left: 0;
  }

  .our-team-item:nth-child(even) {
    margin-right: 0;
  }

  .our-team-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.our-team-card-wrapper {
  text-align: center;
  padding: 32px 0;
}

.project-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .project-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .project-title {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 8px;
  }
}

.features-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: left;
  }
}

.social-list-icon {
  fill: #f4f4fd;
}

.social-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list {
  gap: 24px;
  display: flex;
  justify-content: center;
}

/*==============Our team===============*/

/*==============Customers==============*/

.customers-icon {
  fill: currentColor;
}

.customers-icon:hover,
.customers-icon:focus {
  fill: #404bbf;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 468px) {
  .customers-list {
    row-gap: 72px;
    column-gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .customers-list {
    row-gap: 72px;
    column-gap: 24px;
  }
}

.customers-list-item {
  width: calc((100% - 16px) / 2);
  background-color: #ffffff;
  height: 88px;
}

@media screen and (min-width: 768px) {
  .customers-list-item {
    width: calc((100% - 48px) / 3);
    background-color: #ffffff;
    height: 88px;
  }
  .customers-list-item:nth-child(odd) {
    margin-right: 0;
  }

  .customers-list-item:nth-child(4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .customers-list {
    gap: 24px;
    display: flex;
    flex-wrap: nowrap;
  }
  .customers-list-item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

/*==============Customers==============*/

/*=================Filters=========================*/

.filters-list {
  gap: 24px;
  display: flex;
  margin-bottom: 72px;
  align-items: center;
  justify-content: center;
}

.modal-btn {
  border: 1px solid var(--btn-border-color);
  border-radius: 4px;
  padding: 12px 24px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--text-color-hover);
  background-color: var(--background-btn-filters);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  border: 1px solid transparent;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

/*=================Filters==========================*/

/*=================Portfolio list===================*/

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio {
  padding: 96px 0 120px;
}

.portfolio-list {
  column-gap: 24px;
  row-gap: 48px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-card-wrapper {
  padding: 32px 16px;
  border-bottom: 1px solid var(--btn-border-color);
  border-left: 1px solid var(--btn-border-color);
  border-right: 1px solid var(--btn-border-color);
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

/*=================Portfolio list===================*/

/*===============Animation Portfolio===*/

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  transform: translate(0, 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0%);
}

/*===============Animation Portfolio===*/

/*==============Footer=================*/

@media screen and (min-width: 768px) {
  .footer-wrapper {
    width: 584px;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1158px) {
  .footer-wrapper {
    gap: 0;
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.social-list-footer-icon {
  fill: #f4f4fd;
}

.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-list-footer-item {
  width: 40px;
  height: 40px;
}

.social-list-footer-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer-link:hover,
.social-list-footer-link:focus {
  background-color: #31d0aa;
}

.footer-right-side-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-left-side {
  margin-bottom: 72px;
}

.footer-right-side {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .footer-right-side {
    margin-bottom: 0;
  }
  .footer-left-side {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-right-side {
    margin-bottom: 0;
    margin-right: 80px;
  }
}

.footer-left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-left-side {
    max-width: 264px;
    display: inline;
  }
}

@media screen and (min-width: 1158px) {
  .footer-left-side {
    margin-bottom: 0;
    margin-right: 120px;
  }
}

@media screen and (min-width: 768px) {
  .footer-right-side-title {
    text-align: left;
  }
}

.logo-link-footer {
  display: inline-block;
  margin-bottom: 18px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color-hover);
  text-align: center;
}

.logo-color-footer {
  color: #f4f4fd;
}

.footer-text {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-btn-filters);
}

@media screen and (max-width: 428px) {
  .footer-text {
    width: 268px;
  }
}

.footer-block {
  padding: 100px 0 100px 0;
  background: #2e2f42;
}

/*==============Footer=================*/

/*==============Subscribe==============*/

.subscribe-form-title {
  margin-bottom: 16px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .subscribe-form-title {
    text-align: left;
  }
}

.subscribe-wrapper {
  position: relative;
}

@media screen and (min-width: 768px) {
  .subscribe-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.subscribe-form {
  display: block;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    display: block;
    margin-bottom: 0;
  }
}

.subscribe-form-input {
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  opacity: 0.6;
  padding-left: 16px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  outline: none;
}

.subscribe-form-input::placeholder {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscribe-form-input {
    width: 264px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .subscribe-form-input {
    border: 1px solid #ffffff;
    opacity: 1;
  }
}

.btn-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--text-color-hover);
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  background: var(--accent-color);
  color: #ffffff;
}

.subscribe-send-icon {
  fill: #ffffff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .btn-subscribe {
    margin: 0;
  }
}

/*==============Subscribe==============*/

/*==============Modal Window===========*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  min-height: 576px;
  height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

/*================ Modal window =================*/

/*================ Modal field ==================*/

.modal-contact-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.modal-contact-form-wrapper {
  margin-bottom: 8px;
}

.comment-form-wraper {
  margin-bottom: 16px;
}

.modal-contact-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-modal-window);
  display: block;
}

.modal-contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contact-form-input:focus {
  border-color: var(--text-color-hover);
}

.modal-contact-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: var(--primary-text-color);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contact-form-input:focus + .modal-contact-form-icon {
  fill: var(--text-color-hover);
}

.modal-contact-form-field-wrapper,
.modal-contact-form-comment {
  display: block;
  margin-bottom: 4px;
}

.modal-contact-form-field-comment {
  display: block;
  margin-bottom: 16px;
}

.contact-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-comment:focus {
  border-color: #4d5ae5;
}

.modal-contact-input-wrapper {
  position: relative;
}

.modal-contact-form-checkbox {
  margin-bottom: 24px;
}

.contact-form-comment::placeholder {
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-contact-form-desc {
  display: block;
  margin-bottom: 4px;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.contact-form-checkbox-wrapper {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-modal-window);
}

.modal-contact-form-policy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.input-checkbox:checked
  + .contact-form-checkbox-wrapper
  > .modal-contact-form-policy {
  background-color: var(--accent-color);
  border: none;
  fill: #ffffff;
  border-color: var(--accent-color);
}

.privacy-policy {
  color: var(--text-color-hover);
}

.modal-contact-form-submit {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contact-form-submit:hover,
.modal-contact-form-submit:focus {
  background: var(--accent-color);
  color: #ffffff;
}

/*==============Modal Window===========*/
